


body{
    background: black;
}


.container{
    display: flex;
    justify-content: space-around;
}
#ayuda{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(grey, silver);
}
h2{
    color: white;
    border: 1px solid green;
    background-color: green;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 2px 2px 2px grey;
}
#minasRestantes{
    border: 2px solid black;
    border-radius: 20px;
    background-color: greenyellow;
    padding-bottom: 5px;
}
#lifes{
    border: 2px solid green;
    border-radius: 20px;
    background: linear-gradient(greenyellow, yellow);
    padding-bottom: 5px;
}
.grid{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: auto auto auto auto auto  auto auto auto auto auto ;
    background: grey;
    border-radius: 10px;
}

.block{
    border: 2px solid blue;
    border-radius: 8px;
    height: 45px;
    width: 45px;
}
.block:hover {
    transition: 0.4s;
    border-radius: 15px;
    background: linear-gradient(greenyellow, rgb(117, 164, 117));
    border: 2px solid green;
    cursor: pointer;
}

.mina {
    background-color: red!important;
}
.noMina{
    background-color: green!important;
}

#inputs {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 140px;
    background: linear-gradient(greenyellow, green);
}
#buttons{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

input{
    width: 50px;
}

.white {
    background: linear-gradient(white, grey)!important;

}